<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-text-center">
    Please enter valid email id which you registered. You will get OTP to that
    email for the verification
  </p>
  <div id="recaptch-container"></div>
  <div class="ion-margin-top ion-text-center">
    <form autocomplete="off" [formGroup]="forgotForm" (ngSubmit)="sendOTP()">
      <ion-input
        type="email"
        placeholder="Enter valid email"
        class="input ion-text-left"
        formControlName="email"
      ></ion-input>

      <p
        class="error"
        *ngIf="
          forgotForm.controls['email'].hasError('required') &&
          forgotForm.controls['email'].touched
        "
        padding
      >
        Phone number is required.
      </p>
      <div class="ion-margin-top">
        <ion-button
          type="submit"
          class="submit"
          [disabled]="forgotForm.invalid || showVerifyForm"
          >Get OTP</ion-button
        >
      </div>
    </form>

    <form
      *ngIf="showVerifyForm"
      autocomplete="off"
      [formGroup]="verifyOTPForm"
      class="ion-margin-top"
      (ngSubmit)="verifyOTP()"
    >
      <ion-input
        type="number"
        placeholder="Enter OTP"
        class="input ion-text-left"
        formControlName="otp"
      ></ion-input>

      <p
        class="error"
        *ngIf="
          verifyOTPForm.controls['otp'].hasError('required') &&
          verifyOTPForm.controls['otp'].touched
        "
        padding
      >
        Please Enter OTP.
      </p>
      <div class="ion-margin-top">
        <ion-button
          type="submit"
          class="submit"
          [disabled]="verifyOTPForm.invalid"
          >Verify OTP</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
