<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estimation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button [routerLink]="['/tabs/request/notification']">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="notification">{{notification_count}}</ion-badge>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!admin">
  <form [formGroup]="estimationForm" (ngSubmit)="onSubmit()">
    <div class="ion-margin ion-text-center">
      <h6 class="heading">Customer Estimation</h6>
    </div>
    <div>
      <ion-input type="text" placeholder="Item Name" class="input" formControlName="itemName"
        [disabled]="itemInfo?.finalSubmission"></ion-input>
      <ion-label class="ion-text-small" *ngIf="estimationForm.controls.itemName.invalid && estimationForm.controls.itemName.touched
      ">Field Is Required</ion-label>
    </div>
    <div class="ion-margin-top">
      <ion-input type="number" placeholder="Price" class="input" formControlName="price"
        [disabled]="itemInfo?.finalSubmission"></ion-input>
      <ion-label class="ion-text-small" *ngIf="estimationForm.controls.price.invalid && estimationForm.controls.price.touched
      ">Field Is Required</ion-label>
    </div>
    <div class="ion-margin-top ion-text-center">
      <ion-button type="submit" class="submit ion-text-capitalize"
        [disabled]="!estimationForm.valid || itemInfo?.finalSubmission">Add Item</ion-button>
      <Span class="cancel-button" *ngIf="edit" (click)="editCancel()">Cancel</Span>
    </div>
  </form>

  <ion-item lines="none">
    <div class="ion-margin-top heading">Added Items</div>
    <div class="ion-margin-top ion-margin-start heading total">Total Est = {{total}}</div>
  </ion-item>

  <div class="ion-text-center" *ngIf="itemInfo?.items.length == 0 || !itemInfo">
    <img src="/assets/estimate-icons.png" class="nodata-img">
    <h6 class="heading-info">No Estimation Added</h6>
    <p class="ion-text-capitalize paragraph">Add Your Complete Estimation with Full Name of The item</p>
  </div>

  <div *ngIf="itemInfo?.items.length > 0">
    <ion-card *ngFor="let items of itemInfo.items">
      <ion-item lines="none">

        <ion-label>
          <h2>{{items?.itemName}}</h2>
          <p><b>Rs. </b>{{items?.price}}</p>
        </ion-label>

        <div class="icons" *ngIf="!itemInfo?.finalSubmission">
          <ion-icon name="trash-outline" class="del-icons-info" (click)="deleteItem(items?._id)">
          </ion-icon>
          <ion-icon name="create-outline" class="edit-icons-info"
            (click)="itemEdit(items?.itemName, items?.price, items?._id)"></ion-icon>
        </div>

      </ion-item>
    </ion-card>
    <div class="ion-text-center" *ngIf="!itemInfo?.finalSubmission">
      <ion-button type="submit" class="submit ion-text-capitalize final-submission" (click)="promptAlert()">Submit
        Estimation</ion-button>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="admin && itemInfo" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-text-center table-header">
      <ion-col> <b>Item Name</b></ion-col>
      <ion-col> <b>Price In Rs</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let items of itemInfo.items">
      <ion-col>{{items?.itemName}}</ion-col>
      <ion-col class="ion-text-center">{{items?.price}}</ion-col>
    </ion-row>
    <ion-row class="total-estimations">
      <ion-col>Total Estimation</ion-col>
      <ion-col class="ion-text-center">Rs. {{total}}/-</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!startWork">
    <ion-row>
      <ion-col></ion-col> <!-- Need to add the button for rejection-->
      <ion-col size="6">
        <ion-button type="submit" class="submit start-work ion-text-capitalize" (click)="startworkorder()">Start Work
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>