.submit {
  --box-shadow: none;
}

.heading {
  color: #554d99;
  font-weight: 700;
}

.icons {
  margin-left: 30px;

  .del-icons-info {
    background: #d21616;
    margin-right: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  .edit-icons-info {
    @extend .del-icons-info;
    background: #15155f;
  }
}

.nodata-img {
  width: 35%;
}

.heading-info {
  margin: 0px;
  padding: 0px;
  color: #554d99;
  font-weight: 700;
}

.paragraph {
  margin: 0px;
  font-size: 14px;
}

.ion-text-small {
  font-size: 12px;
  margin-left: 2em;
  color: #ea1e1e;
}

.cancel-button {
  position: relative;
  top: 0.5em;
  color: silver;
  left: 1em;
  cursor: pointer;
}
