<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estimation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/notifications']">
        <i class="material-icons">notifications_none </i>
        <ion-badge color="danger" class="notification">{{
          notification_count
        }}</ion-badge>
      </ion-button>

      <ion-button (click)="logout()">
        <i class="material-icons">exit_to_app </i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!admin">
  <form
    [formGroup]="estimationForm"
    (ngSubmit)="onSubmit()"
    class="ion-padding"
  >
    <div>
      <ion-input
        type="text"
        placeholder="Item Name"
        class="input-secondary"
        formControlName="itemName"
        [disabled]="itemInfo?.finalSubmission"
      ></ion-input>
      <ion-label
        class="ion-text-small"
        *ngIf="
          estimationForm.controls.itemName.invalid &&
          estimationForm.controls.itemName.touched
        "
        >Field Is Required</ion-label
      >
    </div>
    <div class="ion-margin-top">
      <ion-input
        type="number"
        placeholder="Price"
        class="input-secondary"
        formControlName="price"
        [disabled]="itemInfo?.finalSubmission"
      ></ion-input>
      <ion-label
        class="ion-text-small"
        *ngIf="
          estimationForm.controls.price.invalid &&
          estimationForm.controls.price.touched
        "
        >Field Is Required</ion-label
      >
    </div>
    <div class="ion-margin-top ion-text-center">
      <ion-button
        type="submit"
        class="submit-secondary ion-text-capitalize"
        expand="block"
        [disabled]="!estimationForm.valid || itemInfo?.finalSubmission"
        ><i class="material-icons">add </i>{{ buttonTitle }}</ion-button
      >
      <Span class="cancel-button" *ngIf="edit" (click)="editCancel()"
        >Cancel</Span
      >
    </div>
  </form>

  <ion-item lines="full" class="ion-no-padding ion-no-margin cart-info">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col size="4">
          <p class="cart">Cart</p>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <p class="cart">Total&nbsp;:&nbsp;&#x20B9;&nbsp;{{ total }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngIf="itemInfo?.items.length !== 0">
    <ion-item
      lines="full"
      class="ion-paddding"
      *ngFor="let items of itemInfo?.items"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="overflow-sec">{{ items?.itemName }}</ion-col>
          <ion-col size="6">
            <ion-grid class="ion-no-padding ion-no-margin ion-text-right">
              <ion-row>
                <ion-col size="7"> &#x20B9;&nbsp;{{ items?.price }}</ion-col>
                <ion-col size="5">
                  <i
                    class="material-icons edit-icon"
                    (click)="
                      itemEdit(items?.itemName, items?.price, items?._id)
                    "
                    >create
                  </i>
                  <i
                    class="material-icons del-icon"
                    (click)="deleteItem(items?._id)"
                    >delete_outline</i
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>

<ion-footer *ngIf="itemInfo?.items.length !== 0">
  <ion-toolbar>
    <ion-button
      type="button"
      class="submit-secondary ion-text-capitalize"
      expand="block"
      ><i class="material-icons">share </i> &nbsp; Submit Final
      Invoice</ion-button
    >
  </ion-toolbar>
</ion-footer>
