.requests {
    margin-top: 30px;
}

.content {
    color: #403271;
}

.avatar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
}

.notification-heading {
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.notification-by {
    color: #888888;
    font-size: 11px;
    letter-spacing: 0.5px;
}
