<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label><b>Dashboard</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label><b>Profile</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-badge color="danger" class="badge">8</ion-badge>
      <ion-label><b>Workorders</b></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>