<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    autocomplete="off"
    class="ion-margin-top"
    [formGroup]="resetForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <ion-input
        type="password"
        placeholder="Enter New Password"
        class="input ion-text-left"
        formControlName="password"
      ></ion-input>
      <p
        class="error"
        *ngIf="
          resetForm.controls['password'].hasError('required') &&
          resetForm.controls['password'].touched
        "
        padding
      >
        Please Enter New Password.
      </p>
    </div>
    <div class="ion-margin-top">
      <ion-input
        type="password"
        placeholder="Confirm New Password"
        class="input ion-text-left"
        formControlName="confirmPassword"
      ></ion-input>

      <p
        class="error"
        *ngIf="
          resetForm.controls['confirmPassword'].hasError('required') &&
          resetForm.controls['confirmPassword'].touched
        "
        padding
      >
        Please Confirm Password.
      </p>
    </div>
    <div class="ion-margin-top ion-text-center">
      <ion-button type="submit" class="submit">Reset Password</ion-button>
    </div>
  </form>
</ion-content>
