ion-content ion-toolbar {
  --background: translucent;
}

.avatar-main {
  border: 1px solid #554d99;
  background: #554d99;
  height: 30%;
  color: white;
  text-align: center;

  .img {
    width: 3rem;
    margin-top: 1em;
  }

  h4,
  p {
    margin: 0em;
    padding: 0em;
  }

  p {
    color: yellow;
  }
}

.heading {
  font-weight: 700;
}

.darkgray {
  color: darkgray;
}

.secondary {
  --background: white;
  --box-shadow: none;
  color: navy;
  border: 1px solid;
}
