ion-content ion-toolbar {
  --background: translucent;
}

.avatar-main {
  border: 1px solid #554d99;
  background: #554d99;
  height: 30%;
  color: white;
  text-align: center;

  .img {
    width: 3rem;
    margin-top: 1em;
  }

  h4,
  p {
    margin: 0em;
    padding: 0em;
  }

  p {
    color: yellow;
  }
}

.darkgray {
  color: darkgray;
}

.secondary {
  --background: white;
  --box-shadow: none;
  color: navy;
  border: 1px solid;
}

.error {
  margin: 0px;
  font-size: 12px;
  color: red;
  text-align: left;
  padding: 3px 0px 0px 12px;
}

.edit {
  color: darkgray;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  float: right;
}

.font-12 {
  font-size: 14px;
}
