<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['/tabs/notifications']">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="notification">{{notification_count}}</ion-badge>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-main">
    <img src="/assets/avatar.png" class="img">
    <h4>{{profileData?.name}}</h4>
    <p>{{profileData?.registrationType}}</p>
  </div>

  <ion-segment class="padding" value="personal" (ionChange)="segmentChange($event)">
    <ion-segment-button value="personal">
      <ion-label class="ion-text-capitalize"><b>Personal Info</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="password">
      <ion-label class="ion-text-capitalize"><b>Change Password</b></ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="category === 'personal' && profileData">
    <ion-item>
      <ion-label>{{profileData?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{profileData?.phoneNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{profileData?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{profileData?.address}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{profileData?.city}}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="category !== 'personal'" class="ion-padding">
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="ion-margin ion-text-center">
        <h4 class="heading">Change Password</h4>
      </div>
      <div>
        <ion-input type="password" placeholder="Old Password" class="input" formControlName="oldPassword"></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-input type="password" placeholder="New Password" class="input" formControlName="password"></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-input type="password" placeholder="Confirm Password" class="input" formControlName="confPassword">
        </ion-input>
      </div>
      <div class="ion-margin-top ion-text-center">
        <ion-button type="submit" class="submit" [disabled]="!changePassword.valid">Change Password</ion-button>
      </div>
    </form>
  </div>
</ion-content>