<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Profile </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/notifications']">
        <i class="material-icons">notifications_none </i>
        <ion-badge color="danger" class="notification"
          >{{notification_count}}</ion-badge
        >
      </ion-button>

      <ion-button (click)="logout()">
        <i class="material-icons">exit_to_app </i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-main">
    <img src="/assets/avatar.png" class="img" />
    <h4>{{profileData?.name}}</h4>
    <p>{{profileData?.registrationType}}</p>
  </div>

  <ion-segment
    class="padding"
    value="personal"
    (ionChange)="segmentChange($event)"
  >
    <ion-segment-button value="personal">
      <ion-label class="ion-text-capitalize">About</ion-label>
    </ion-segment-button>
    <ion-segment-button value="password">
      <ion-label class="ion-text-capitalize">Change Password</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="category === 'personal' && profileData">
    <ion-label color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <b>Basic Details</b>
          </ion-col>
          <ion-col size="4" color="primary">
            <a class="edit" [routerLink]="['update-basic-details']">
              <span><i class="material-icons font-12">edit</i> Edit</span>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
    <ion-item lines="full">
      <ion-label>
        <span>Name</span>
        <p class="darkgray">{{profileData?.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <span>Mobile No</span>
        <p class="darkgray">{{profileData?.phoneNumber}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <span>Email Id</span>
        <p class="darkgray">{{profileData?.email}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <span>Address</span>
        <p class="darkgray">{{profileData?.address}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <span>City</span>
        <p class="darkgray">{{profileData?.city}}</p>
      </ion-label>
    </ion-item>
    <ion-label color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <b>Accounts Information</b>
          </ion-col>
          <ion-col
            size="4"
            color="primary"
            *ngIf="profileData.bankDetails?.bankName"
          >
            <a class="edit" [routerLink]="['add-bank-details']">
              <span><i class="material-icons font-12">edit</i> Edit</span>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
    <div *ngIf="profileData.bankDetails?.bankName">
      <ion-item lines="full">
        <ion-label>
          <span>Bank Name</span>
          <p class="darkgray ion-text-uppercase">
            {{profileData.bankDetails.bankName}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>
          <span>Name On Bank</span>
          <p class="darkgray ion-text-uppercase">
            {{profileData.bankDetails.nameasperbank}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>
          <span>Account No</span>
          <p class="darkgray ion-text-uppercase">
            {{profileData.bankDetails.accountNo}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <span>IFSC Code</span>
          <p class="darkgray ion-text-uppercase">
            {{profileData.bankDetails.ifscCode}}
          </p>
        </ion-label>
      </ion-item>
    </div>
    <div class="ion-text-center" *ngIf="!profileData.bankDetails?.bankName">
      <ion-button
        class="secondary ion-text-capitalize"
        [routerLink]="['add-bank-details']"
        ><ion-icon name="add-circle-outline"></ion-icon>&nbsp; Add Bank
        Details</ion-button
      >
    </div>
  </ion-list>

  <div *ngIf="category !== 'personal'" class="ion-padding">
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="ion-margin ion-text-center">
        <h4 class="heading">Change Password</h4>
      </div>
      <div>
        <ion-input
          type="password"
          placeholder="Old Password"
          class="input"
          formControlName="oldPassword"
        ></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-input
          type="password"
          placeholder="New Password"
          class="input"
          formControlName="password"
        ></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-input
          type="password"
          placeholder="Confirm Password"
          class="input"
          formControlName="confPassword"
        >
        </ion-input>
      </div>
      <div class="ion-margin-top ion-text-center">
        <ion-button
          type="submit"
          class="submit"
          [disabled]="!changePassword.valid"
          >Change Password</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
