<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['/tabs/request/notification']">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="notification">{{notification_count}}</ion-badge>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--- If the user is not the admin-->
  <div *ngIf="!admin">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-icon name="git-pull-request" class="request-icon" (click)="checkWorkorders('new')"></ion-icon>
          <p class="paragraph request">Requests</p>
        </ion-col>
        <ion-col>
          <ion-img src="/assets/pending.png" class="pending-icon" (click)="checkWorkorders('In-Progress')"></ion-img>
          <p class="paragraph pending">Pending</p>
        </ion-col>
        <ion-col>
          <ion-icon name="checkmark-circle-outline" class="completed-icon" (click)="checkWorkorders('Completed')">
          </ion-icon>
          <p class="paragraph completed">Completed</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-text-center ion-text-capitalize ion-margin-top" *ngIf="result?.length == 0">
      <ion-img src="/assets/nodata.png" class="img-css"></ion-img>
      <p>
        <span class="nodata">No data found </span>
        <br /> Once the work is assigned to you those requests will be visible here
        <br /> Thank You!</p>
    </div>
    <div *ngIf="result?.length > 0">
      <div id="chart" class="ion-margin-top">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive" [legend]="chartOptions.legend"></apx-chart>
      </div>
      <h6 class="heading ion-margin-top ion-margin-start">Recent Assigned Workorders</h6>
      <ion-card *ngFor="let result of result">
        <ion-item lines="none" [routerLink]="['/tabs/request/more-info', {id: result?._id}]" [ngClass]="[
        result.status === 'Rejected'?  'rejected' : '',
        result.status === 'Start Work'?  'startwork' : '',
      result.status === 'New'?  'new' : '',
      result.status === 'In-Progress'?  'inProgress' : '',
      result.status === 'Active'?  'active' : '',
      result.status === 'Completed'?  'resolved' : ''
      ]">
          <ion-avatar slot="start">
            <img src="/assets/workorder.png">
          </ion-avatar>

          <ion-label class="ion-text-capitalize">
            <h2>{{result?.problemType}}</h2>
            <p class="sub-description">{{result?.description}}</p>
          </ion-label>

        </ion-item>
      </ion-card>
    </div>
  </div>

  <!-- If the user is admin -->
  <div *ngIf="admin">
    <div class="ion-text-center ion-text-capitalize ion-margin-top" *ngIf="result?.length == 0">
      <ion-img src="/assets/nodata.png" class="img-css"></ion-img>
      <p>
        <span class="nodata">No data found </span>
        <br /> Once the work is assigned to you those requests will be visible here
        <br /> Thank You!</p>
    </div>

    <div *ngIf="result?.length > 0">
      <div id="chart" class="ion-margin-top">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive" [legend]="chartOptions.legend"></apx-chart>
      </div>
      <h6 class="heading ion-margin-top ion-margin-start">Recent Assigned Workorders</h6>
      <ion-card *ngFor="let result of result">
        <ion-item lines="none" [routerLink]="['/tabs/request/more-info', {id: result?._id}]" [ngClass]="[
        result.status === 'Rejected'?  'rejected' : '',
        result.status === 'Start Work'?  'startwork' : '',
        result.status === 'New'?  'new' : '',
        result.status === 'In-Progress'?  'inProgress' : '',
        result.status === 'Active'?  'active' : '',
        result.status === 'Completed'?  'resolved' : '',
        result.status === 'Cancelled'?  'cancelled' : ''
        ]">
          <ion-avatar slot="start">
            <img src="/assets/workorder.png">
          </ion-avatar>

          <ion-label class="ion-text-capitalize">
            <h2>{{result?.problemType}}</h2>
            <p class="sub-description">{{result?.description}}</p>
          </ion-label>

        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>