ion-content ion-toolbar {
  --background: translucent;
}

.paragraph {
  margin: 0px;
}

.request-icon {
  border: 1px solid blue;
  background: #c5dcff;
  border-radius: 50%;
  padding: 10px;
  color: blue;
}

.pending-icon {
  border: 1px solid #ff8300;
  background: #ffddb7;
  border-radius: 50%;
  padding: 10px;
  color: #ff8300;
  width: 38px;
  margin: 0px auto 5px;
}

.completed-icon {
  border: 1px solid rgb(97, 175, 80);
  background: rgb(97, 175, 80);
  border-radius: 50%;
  padding: 10px;
  color: #054923;
}

.completed {
  color: rgb(97, 175, 80);
}

.pending {
  color: #ff8300;
}

.request {
  color: blue;
}

.img-css {
  width: 50%;
  margin: 0px auto;
}

.nodata {
  font-weight: bold;
  font-size: 25px;
  color: #6370ff;
}

.heading {
  color: #554d99;
  font-weight: 700;
  font-size: 14px;
}

#chart {
  display: flex;
  justify-content: center;
}
