<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>

    <ion-buttons slot="end">
      
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="notification">3</ion-badge>
      </ion-button>

      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #barCanvas height="200vh" class="ion-margin-top"></canvas>
  <p class="activities">-- Activities --</p>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" size-xs="4">
          <ion-item lines="none" class="ion-text-center">
            <ion-label>
              <h1 class="request"><b>10</b></h1>
              <p class="request"><b>Requests</b></p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm="4" size-xs="4">
          <ion-item lines="none" class="ion-text-center">
            <ion-label>
              <h1 class="pending"><b>12</b></h1>
              <p class="pending"><b>Pending</b></p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm="4" size-xs="4">
          <ion-item lines="none" class="ion-text-center">
            <ion-label>
              <h1 class="completed"><b>32</b></h1>
              <p class="completed"><b>Completed</b></p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <p class="activities">-- Current Requests --</p>
  <ion-item lines="full" detail>
    <ion-avatar slot="start" class="startingAvatar">
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <ion-row>
        <ion-col size="8" size-xs="8" size-sm="8">
          <ion-label>Tubelight Repair RepairRepairRepairRepair</ion-label>
        </ion-col>
        <ion-col size="4" size-xs="4" size-sm="4">
          <ion-label class="date">{{dateInfo}}</ion-label>
        </ion-col>
      </ion-row>
      <p>Check For Description for more information</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full" detail>
    <ion-avatar slot="start" class="startingAvatar-two">
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <ion-row>
        <ion-col size="8" size-xs="8" size-sm="8">
          <ion-label>Check For Electrical Meter</ion-label>
        </ion-col>
        <ion-col size="4" size-xs="4" size-sm="4">
          <ion-label class="date">{{dateInfo}}</ion-label>
        </ion-col>
      </ion-row>
      <p>Check For Description for more information</p>
    </ion-label>
  </ion-item>
</ion-content>