ion-content ion-toolbar {
  --background: translucent;
}

.paragraph {
  margin: 0px;
}

.icon-start {
  font-size: 35px;
  position: relative;
  left: 10px;
  color: #554d99;
}

.request-icon {
  border: 1px solid blue;
  background: #c5dcff;
  border-radius: 50%;
  padding: 5px;
  color: blue;
  font-size: 18px;
}

.pending-icon {
  border: 1px solid #ff8300;
  background: #ffddb7;
  border-radius: 50%;
  /* padding: 10px; */
  color: #ff8300;
  width: 26px;
  position: relative;
  top: 11px;
}

.completed-icon {
  border: 1px solid rgb(97, 175, 80);
  background: rgb(97, 175, 80);
  border-radius: 50%;
  padding: 5px;
  color: #054923;
  font-size: 18px;
}

.completed {
  color: rgb(97, 175, 80);
  font-size: 10px;
}

.pending {
  color: #ff8300;
  font-size: 10px;
}

.request {
  color: blue;
  font-size: 10px;
}

.img-css {
  width: 50%;
  margin: 0px auto;
}

.nodata {
  font-weight: bold;
  font-size: 25px;
  color: #6370ff;
}

.heading {
  color: #554d99;
  font-weight: 700;
  font-size: 14px;
}

#chart {
  display: flex;
  justify-content: center;
}

.rejected {
  color: #660000;
}

.startwork {
  color: #004085;
}

.new {
  color: #383d41 !important;
}

.inProgress {
  color: #856404 !important;
}

.active {
  color: #721c24 !important;
}

.resolved {
  color: #155724 !important;
}

.cancelled {
  color: #1b1e21 !important;
}

.sub-description {
  color: white;
}

.work-assigned {
  --background: gray;
  color: white;
}
