ion-content ion-toolbar {
  --background: translucent;
}

.rejected {
  --background: #660000;
  --color: white !important;
}

.new {
  --background: #e55524 !important;
  --color: white !important;
}

.cancelled {
  --background: #000000 !important;
  --color: white !important;
}

.inProgress {
  --background: #1182c5 !important;
  --color: white !important;
}

.active {
  --background: #8d191c !important;
  --color: white !important;
}

.resolved {
  --background: #136b36 !important;
  --color: white !important;
}

.sub-description {
  color: white;
}

.startwork {
  --background: navy;
  --color: white !important;
}

.work-assigned {
  --background: gray;
  color: white;
}
