<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Wallet
    </ion-title>
    <ion-buttons slot="end">

      <ion-button [routerLink]="['/tabs/notifications']">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger" class="notification">{{notification_count}}</ion-badge>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-margin ion-padding">
    <img src="/assets/no-transaction.png" width="145px" alt="" srcset="">
    <p class="ion-no-margin ion-no-padding">No Transaction Found For You. Once the payment done by the customer, that
      can be visible here.</p>
  </div>
</ion-content>