.heading {
  color: #554d99;
  font-weight: 700;
}

.submit {
  --padding-top: 15px;
  --padding-bottom: 15px;
  margin: 0px auto;
  --box-shadow: none;
}

.image {
  margin-right: 5px;
  width: 86px;
  height: 80px;
}

.submit-work {
  --box-shadow: none;
  --background: #008000;
}

.new {
  color: green;
  font-weight: bold;
}
