.heading {
  color: #554d99;
  font-weight: 700;
}

.submit {
  --padding-top: 15px;
  --padding-bottom: 15px;
  margin: 0px auto;
  --box-shadow: none;
}

.image {
  margin-right: 5px;
  width: 86px;
  height: 80px;
}

.submit-work {
  --box-shadow: none;
  --background: #008000;
}

.grid-data {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.assign-work {
  --background: darkolivegreen;
}

.reject-work {
  --background: red;
}

.m-t-3 {
  margin-top: 10px;
}

.new {
  color: #e55524 !important;
}

.inProgress {
  color: #1182c5 !important;
}

.active {
  color: #8d191c !important;
}

.resolved {
  color: #136b36 !important;
}

.check-estimation {
  --background: darkslateblue;
}

.startwork {
  --background: #205b20;
}

.m-top {
  margin-top: 50px;
}

.no-para {
  padding: 0;
}
