/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*,
sc-ion-input-md {
  font-family: "Baloo Chettan 2", cursive !important;
}

.title-default {
  color: white !important;
}

.input {
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28);
  padding-left: 9px !important;
  border-radius: 225px;
  border: 1px solid #f3f3f3;
  padding-right: 9px !important;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  border-radius: 10px !important;
}

h2 {
  margin: 7px;
  font-weight: 700;
}

.submit {
  --background: #0148a4;
  --border-radius: 30px;
  --padding-bottom: 20px;
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 20px;
  font-size: 12px !important;
}

.button-disabled {
  color: white !important;
  --background: #1f2935 !important;
  border-color: #909192 !important;
}

.notification {
  border-radius: 50%;
  width: 16px;
  position: relative;
  bottom: 8px;
  right: 8px;
  height: 15px;
  font-size: 9px;
}

.error {
  margin: 0px;
  font-size: 12px;
  color: red;
  text-align: left;
  padding: 3px 0px 0px 12px;
}

.material-icons {
  font-family: "Material Icons" !important;
}
